/* Font */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

body{ font-family: 'Lato', sans-serif;}
.flat-blue{ background: #f5f5f5;}
.clear{ clear:  both;}
a{ -webkit-transition: all 400ms; transition: all 400ms; -webkit- transition: all 400ms; cursor: pointer;}
a:hover, a:focus, a:active{ outline: none;}
img{ max-width: 100%;}
.flat-blue a:hover{ color: #e43232; }
.btn{ font-family: 'Lato', sans-serif; font-weight: 700; padding: 7px 15px; font-size: 15px;}
.btn:first-child{ margin-left: 0;}
.flat-blue .btn{ transition: all 400ms; -webkit-transition: all 400ms; }
.flat-blue .btn.btn-info {
    background-color: #252525;
    border-color: #252525;
    color: #fff;
}
.flat-blue .btn.btn-info:hover{    
   color: #fff;
    background-color: #CB202D;
    border-color: #CB202D; box-shadow: none; -webkit-box-shadow: none;
}
.flat-blue .btn.btn-primary{
    color: #fff;
    background-color: #CB202D;
    border-color: #CB202D;
}
.flat-blue .btn-primary:hover {
    color: #fff;
    background-color: #252525;
    border-color: #252525;
}
.flat-blue .btn.btn-default{ border-color: #ddd;}
textarea{ resize: none; height: 70px;}

.required_star{ color: #f00;}
.card .card-header .card-title{ padding-left: 0; padding-right: 0;}
.card .card-body{ padding-left: 0; }

.app-container .content-container .side-body{ padding-top: 65px;}
.flat-blue .navbar .navbar-nav > li, .flat-blue .navbar.navbar-default .navbar-nav > li{ border-left: 0;}
.navbar .navbar-nav > li > a{ font-size: 15px; height: 50px; line-height: 50px;}
.flat-blue .navbar-top .navbar-nav > li.open > a, .flat-blue .navbar-top.navbar-default .navbar-nav > li.open > a{  background: #ef1919; color: #fff;}
.flat-blue .navbar-top .navbar-nav > li.open:hover > a, .flat-blue .navbar-top.navbar-default .navbar-nav > li.open:hover > a{ color: #fff;}
.flat-blue .navbar-top .navbar-nav > li:hover > a, .flat-blue .navbar-top.navbar-default .navbar-nav > li:hover > a{ color: #CB202D;}
.flat-blue .navbar-top .navbar-nav .dropdown-menu, .flat-blue .navbar-top.navbar-default .navbar-nav .dropdown-menu{ width:100%; border-top:0; background: #f9f9f9; border-radius: 0; -webkit-border-radius: 0; box-shadow: 0 2px 8px rgba(0,0,0,.175); -webkit-box-shadow: 0 2px 8px rgba(0,0,0,.175);}
.flat-blue .navbar-top .navbar-nav .dropdown-menu > li{ border-top: 1px solid #fff;}
.flat-blue .navbar-top .navbar-nav .dropdown-menu > li:first-child{ border:0;}
.flat-blue .navbar-top .navbar-nav .dropdown-menu > li > a{ color: #333;font-family: 'Lato', sans-serif; padding: 8px 15px; }
.flat-blue .navbar-top .navbar-nav .dropdown-menu > li > a:focus, .flat-blue .navbar-top .navbar-nav .dropdown-menu > li > a:hover{ color: #fff;  background: #ef1919;}

.flat-blue .app-container .content-container .side-menu{ position: fixed; margin: 0; overflow-y: visible; top: 0; left: 0; height: 100%;}
.flat-blue .side-menu .navbar-header{ background: #ef1919; }
.flat-blue .side-menu .navbar .navbar-header .navbar-expand-toggle, .flat-blue side-menu .navbar.navbar-default .navbar-header .navbar-expand-toggle{ color: #fff; font-size: 24px; opacity: 1;}
.side-menu .navbar-expand-toggle.fa-rotate-90{ -webkit-filter: none; filter: none; -webkit-transform: none; transform: none;}
.side-menu .navbar-expand-toggle.fa-rotate-90 i:before{ display: none;}
.side-menu .navbar-expand-toggle.fa-rotate-90 i{  background: url(../images/menu-bars.png) no-repeat; width: 30px; height: 24px;}
.flat-blue .side-menu .navbar-header .navbar-brand{ background: #CB202D; }
.navbar-brand>img{ display: inline-block; margin: 0 19px; }
.logo{ margin: 5px 10px 4px; display: inline-block; width: 110px;}
.flat-blue .app-container .content-container .side-menu .navbar-header{ height: 42px; width: 60px; position: fixed; left: 0; top: 0; transition: all 0.25s; -webkit-transition: all 0.25s; z-index: 1;}
.flat-blue .app-container.expanded .content-container .side-menu .navbar-header{ width: 240px;}
.flat-blue .app-container .content-container .side-menu .navbar-nav li{ overflow: visible;}
.flat-blue .side-menu.sidebar-inverse .navbar li.dropdown > .panel-collapse{ background: #222; }
.flat-blue .side-menu.sidebar-inverse.over_menu .navbar li.dropdown > .panel-collapse{ height: auto !important; }
.over_menu li.dropdown .panel-collapse{ position: absolute; left: 100%; top: 0; min-width: 180px;}
.over_menu li.dropdown:hover .panel-collapse{ display: block;}
.flat-blue .app-container .content-container .side-menu.over_menu .navbar-nav li.dropdown:hover .panel-collapse.in{ display: block;}
/* Remove Hover menu start */
.flat-blue .app-container .content-container .side-menu:hover { width: 60px; }
.flat-blue .app-container.expanded .content-container .side-menu:hover{ width: 240px;}
.flat-blue .app-container .content-container .side-menu:hover .navbar-header .navbar-brand .title { display: none; }
.flat-blue .app-container.expanded .content-container .side-menu:hover .navbar-header .navbar-brand .title { display: inline-block; }
.flat-blue .app-container .content-container .side-menu:hover .navbar-nav li a .title { width: 0; display: none; }
.flat-blue .app-container.expanded .content-container .side-menu:hover .navbar-nav li a .title { width: 192px; display: inline-block; }
.flat-blue .app-container .content-container .side-menu:hover .navbar-nav li.dropdown > a:after { display: none;}
.flat-blue .app-container.expanded .content-container .side-menu:hover .navbar-nav li.dropdown > a:after { display: inline;}
.flat-blue .app-container .content-container .side-menu:hover .panel-collapse.in { display: none; }
.flat-blue .app-container.expanded .content-container .side-menu:hover .panel-collapse.in { display: block; }
/* Remover Hover menu end */
.flat-blue .side-menu .navbar .side-menu-container > .navbar-nav > li:hover > a, .flat-blue .side-menu .navbar.navbar-default .side-menu-container > .navbar-nav > li:hover > a, .flat-blue .side-menu .navbar .side-menu-container > .navbar-nav > li > a[aria-expanded="true"], .flat-blue .side-menu .navbar.navbar-default .side-menu-container > .navbar-nav > li > a[aria-expanded="true"]{ background: #fff; color: #ef1919}
.flat-blue .side-menu .navbar .navbar-nav > li:hover > a, .flat-blue .side-menu .navbar.navbar-default .navbar-nav > li:hover > a, .flat-blue .side-menu .navbar .navbar-nav > li > a[aria-expanded="true"], .flat-blue .side-menu .navbar.navbar-default .navbar-nav > li > a[aria-expanded="true"]{ background: #fff; /*color: #CB202D;*/ color: #ef1919;}
.flat-blue .side-menu.sidebar-inverse .navbar li.dropdown .panel-body{ padding: 0;}
.flat-blue .side-menu .navbar .side-menu-container{ margin-top:40px; }
.flat-blue .side-menu.sidebar-inverse .navbar, .flat-blue .side-menu.sidebar-inverse, .flat-blue .navbar > .container-fluid, .flat-blue .navbar.navbar-default > .container-fluid{ background: #000; }
.flat-blue .side-menu.sidebar-inverse .navbar li.active > a {
    color: #ef1919;
    border-left: 3px solid #ef1919;
    border-right: 0px solid #ef1919;
    background-color: #FFF;
}
 /* Header End */

/* Page title start */
.page-title{ font-family: 'Lato', sans-serif; padding-top: 0;}
.page-title:after{ content:""; display: block; clear: both;}
.page-title .tt_left{ display: inline-block; width: 50%;}
.page-title .title{ font-size: 30px; display: block; line-height: 55px; }
    /* Page category menu */
.pg_categorymenu{ padding: 0; margin: 12px 0 0 ; font-family: 'Lato', sans-serif; font-size: 15px;}
.pg_categorymenu li{ display: inline-block; vertical-align: top; border-left: 1px solid #aaa7a7; padding: 0 18px;}
.pg_categorymenu li:first-child{ padding-left: 0; border-left: 0;}
.pg_categorymenu li:hover a, .pg_categorymenu li.active a{ text-decoration: underline; color: #e43232;}

.an_btn{ text-align: center;font-size: 13px; font-family: 'Lato', sans-serif; text-align: center; color: #e43232; display: inline-block; text-transform: uppercase; margin-left: 10px;}
.add_sub_breadcrump .an_btn{ margin-top: 14px; margin-bottom: 14px;}
.flat-blue a.an_btn{ color:#e43232; }
.an_btn span{ line-height: 44px; font-size: 24px; border: 3px solid #e43232; height: 50px; width: 50px; display: block; margin: 0 auto 3px; border-radius: 100%; -webkit-border-radius: 100%;}
.an_btn span i:before{ line-height: 44px; display: block;}
.flat-blue a.an_btn:hover{ color: #252525;}
.an_btn:hover span{ border-color: #252525; color: #252525;}

.btn-info.pull-right i.fa-sort{ padding-right: 6px; }
.page-title .btn{  margin-top: 14px; margin-bottom: 14px; }
/* Page title end */

/* Login page */
body.login-page{ background:  #dcdcdc;}
body.login-page header{ margin: 0;}
body.login-page .navbar{ padding-left: 0;}
body.login-page .login-box{ max-width: 350px; padding: 0 10px;}
.flat-blue .login-box .login-form .login-body{ background: none; padding: 0;}
.login_title{ font: normal 42px allerbold; color: #333333;margin: 0  0 25px; text-align: center;}
.login-body .control{ position: relative;}
body.login-page .login-form input { height: 48px; border: 1px solid #ddd9da; background: #fff; border-radius: 4px; -webkit-border-radius: 4px; margin: 20px 0;}
body.login-page .login-form label.error{ display: none !important;}
body.login-page .login-form input.error{border: 1px solid #a94442; background: #f2dede;}
body.login-page .login-button .btn{width: 100%; margin: 0; text-transform: uppercase; font-family: 'Lato', sans-serif; font-size: 15px;}
body.login-page .login-button .text-link.color-white{ display: inline-block; margin: 10px 0 0 15px; vertical-align: middle; color: #666;}
body.login-page .login-button .text-link.color-white:hover{ color: #CB202D;}
.logo-bflgin{ width:300px; text-align: center; }
/* Login page end */

/* Reset page */
body.resetpw_pg .login-form input{ margin-bottom: 0.8em; margin-top: 0.5em;}
/* Reset page end */

/* Form validate error */
.input_box{ position: relative;}
label.error{ 
    position: absolute; right: 0 ; bottom: 100%;
    padding: 7px 15px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #a94442;
    background: #f2dede;
    border-color: #ebcccc; margin: 0 0 2px; z-index: 1; width: 190px; max-width: initial; font-weight: normal;
}
label.error:before{ content: ""; border: 10px solid #f2dede;  border-color: #f2dede transparent transparent transparent ; position: absolute; bottom: -20px; right: 6px;}

/* Form element */
.form-control{  border: 1px solid #dcd9d9; background: #fff !important; border-radius: 4px; -webkit-border-radius: 4px; font-size: 15px; color: #464646; margin:3px 0 0; font-family: 'Lato', sans-serif;}
.plcHldr{ border:1px solid #dcd9d9; background: #fff; font-size: 12px; padding: 5px 10px 7px; margin: 10px 15px 5px -5px; width: 100%;}
textarea.form-control{ height: 90px; }
.form-group{ margin-bottom: 20px;}
.search_main_div_textbox, .search_main_div_textarea, .search_main_div_checkbox{background:#f2f2f2; padding:20px 40px 0px 10px; margin: -18px 0 20px; display: inline-block;}
.search_main_div_radio, .search_main_div_image{background:#f2f2f2; padding:20px 40px 0px 10px; margin: -18px 0 20px; display: inline-block;}
.info_main_div_textbox, .info_main_div_checkbox, .info_main_div_radio, .info_main_div_image, .info_main_div_textarea{background:#f2f2f2; padding:20px 40px 15px 10px; margin: -18px 0 20px}
.info_main_div_textbox .form-group, .info_main_div_checkbox .form-group, .info_main_div_radio .form-group, .info_main_div_textarea .form-group, .info_main_div_image .form-group{ margin: 0px 0 5px;}
#search_image input[type=text]:first-child{ margin-bottom: 8px;}
.pro_personal_info_sec{background:#f2f2f2; padding:20px 40px 15px 10px; margin: 0px 0 20px}

/* Form inline */

.in-header{ font-size: 18px; font-weight: 400; }

    /* Select box */
.select2-container{ min-width: 100px;}
.input_box .select2-container{ width: 100% !important;}
.select2-container .select2-selection--single{ height: 34px;}
.select2-container--default .select2-selection--single{ border-radius: 4px; -webkit-border-radius: 4px; border: 1px solid #dcd9d9;}
.select2-container--default .select2-selection--single .select2-selection__rendered{ line-height: 32px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 34px;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{ background-color: #CB202D;}

.chosen-container-single .chosen-single{ -webkit-box-shadow: none; box-shadow: none; height: 32px; line-height: 32px; background: #fff; border: 1px solid #dcd9d9; border-radius: 4px; -webkit-border-radius: 4px;}
.chosen-container-single .chosen-single span{ color: #464646;}
.chosen-container-single .chosen-drop{border-radius: 0px;}
.chosen-container-single .chosen-single div b{ background-position: 0 7px;}
.chosen-container-active.chosen-with-drop .chosen-single div b{background-position: -18px 7px;}
.form-horizontal .chosen-container{ width: 100% !important;}
.chosen-container .chosen-results li.highlighted{ background: #e43837;}
.chosen-container-active.chosen-with-drop .chosen-single{ background: #fff; -webkit-box-shadow: none; box-shadow: none;}
.outletunit > [class*="col-"] { margin: 0;}
.chosen-container .chosen-results{ margin: 0; padding: 0;}
.featured-drop{ margin: 3px -10px; }

.chosen-container-multi .chosen-choices{ border-radius: 4px; -webkit-border-radius: 4px; background: #fff; border-color: #dcd9d9;}
.chosen-container-multi .chosen-choices li.search-field input[type=text]{ height: 32px; margin: 0;}
.chosen-container-multi .chosen-choices li.search-field input[type=text].default{ width: auto !important;}
.chosen-container-multi .chosen-choices li.search-choice{ margin-top: 6px;}

/* Browse */
.custom_browsefile input[type=file]{ height: 34px; width: 100%; opacity: 0; filter: alpha(opacity=0);cursor: pointer; }
.result_browsefile{ border: 1px solid #dcd9d9;position: absolute; height: 34px; color: #aaa7a7; line-height: 34px; left:0; top:0; width: 100%; pointer-events: none; text-align: center; font-size: 15px; overflow: hidden;}
.result_browsefile:before{content: ""; height: 100%; width: 0; display: inline-block; vertical-align: middle;}
.brows{display: inline-block; /* vertical-align: middle; */}
/* */
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label{ padding: 7px 10px;}

    /* Multi check box */
.multicheckbx_sec ul{ list-style: none;padding: 0;}
.multicheckbx_sec ul ul{ /* padding-left: 20px; */}
.multicheckbx_sec li{ padding-left: 30px; position: relative;}
.multicheckbx_sec li span{ position: absolute; left:0; top: 3px; font-size: 14px; width: 18px; height: 18px; line-height: 18px; text-align: center; color: #fff; background: #252525; cursor: pointer; border-radius: 2px; -webkit-border-radius: 2px;}
.multicheckbx_sec li span.open_icon .fa:before{ content: "\f068";}
/* Form element end */
.per_time{ padding: 10px 0;}
.input_box.no-input{ padding-top: 7px; }

/* Check box */
.custom_checkbox{position: relative; display: inline-block; margin: 8px 10px;}
.custom_checkbox input{ opacity: 0; filter: alpha(opacity=0); height: 100%; left:0; top:0; margin: 0; width: 100%; position: absolute; cursor: pointer;}
.custom_checkbox input[type=checkbox]:checked + label:before, .custom_checkbox input[type=checkbox]:checked + label + label:before{ content: "\f00c"; font-family: FontAwesome; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 12px; line-height: 16px; color: #fff; text-align: center; background: #fff; border: 2px solid #4e70ff; color: #4e70ff; border-collapse: #4e70ff; -webkit-transition: all .5s; transition: all .5s; }
.custom_checkbox label:before{ content: ""; position: absolute; width: 20px; height: 20px; border: 2px solid #CBCBCB; border-radius: 4px; -webkit-border-radius: 4px; left:0; top: 2px; pointer-events: none;}
.custom_checkbox label{ position: relative; padding: 0 0 0 30px; pointer-events: none; font-size: 15px; color: #464646; font-weight: normal; margin-bottom: 0; display: block;}
.custom_checkbox input[type=checkbox]:checked + label:after{-webkit-animation: glow-grow 0.6s ease-out;animation: glow-grow 0.6s ease-out; -webkit-animation-delay: .1s; animation-delay: .1s; content:""; border-radius: 50%; -webkit-transition: all .6s; transition: all .6s; transition: all .6s; }
.custom_checkbox label:after{ content: ""; position: absolute; width: 20px; height: 20px; border: 1px solid #4e70ff; border-radius: 50%; -webkit-border-radius: 1px; left:0; top: 0px; pointer-events: none; opacity: 0; background: #4e70ff none repeat scroll 0 0; -webkit-transition: all .6s; transition: all .6s; }


.remarks-align1{left:-8px;}
.remarks-align2{left:-16px;}
.remarks-align2s{left:-22px;}
.remarks-align3{left:-38px;}
.chkBx{ top:0; height: 22px;}
.custom_checkbox.chkBx input[type=checkbox]:checked + label:before, .custom_checkbox.chkBx input[type=checkbox]:checked + label + label:before{ content: "\f00c"; font-family: FontAwesome; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 14px; line-height: 18px; color: #fff; text-align: center; background: #cb202d; border: 1px solid #cb202d;}

/* Loading */
.loading{ text-align: center;}
.cntloading_wrapper .cnt_loading{ margin: 0 auto; width: 45px; display: block;}
.cntloading_wrapper.active{ position: relative;}
.cntloading_wrapper.active:after{ content:""; position: absolute; left:0; top:0; bottom:0; right:0; background: rgba(255,255,255,0.8); z-index: 1;}
.cntloading_wrapper.active .cnt_loading{ position: absolute; left:0; top:0; bottom:0; right:0; margin: auto; height: 45px; width: 45px; z-index: 2;}

/* Container alert */
.alert i{ font-size: 18px; margin: 0 10px 0 0; vertical-align: middle;}
.alert .close {    
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    color: #000;
    text-shadow: 0 1px 0 #fff;  
}
.flat-blue .cmmn_error{ position: fixed; left:0; right:0; top: 71px; z-index: 9; padding:  10px 15px; left: 60px;}
.flat-blue .expanded .cmmn_error{ left: 250px;}
.flat-blue .cmmn_error .close{ right: 0;}
.flat-blue .alert.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d0e9c6;
}
.flat-blue .alert.alert-warning{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faf2cc;
}
.flat-blue .alert.alert-danger, .flat-blue .alert.alert-error  {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebcccc;
}
.flat-blue .alert.alert-error  li{
	list-style: none;
}
.container_alert{ max-width: 700px; }
.container_alert li{ list-style: inside;}
/*login alert*/
.log_alert { position: fixed; top: 0; left: 0; z-index: 99; max-width: 420px; left: 50%; margin-left: -210px;}
/* Tooltip */
.tooltip-inner{min-width: 200px; max-width: 500px;}

/* Breadcrumb */
.flat-blue .navbar .navbar-breadcrumb li a:hover, .flat-blue .navbar.navbar-default .navbar-breadcrumb li a:hover{ color: #22A7F0;}
.breadcrumb > li + li:before{ content: "\f101"; font-size: 16px; color: #999;}

/* Button Group */
.btn-toolbar .btn-group{ display: inline-block; float: none;}
.btn-group .btn:hover{ box-shadow: 0 0 1px 1px #666; -webkit-box-shadow: 0 0 1px 1px #666; }

/* Custom Pagination */
.pagination_bar{ margin-bottom: 12px;}
.pagination_txt{ display: inline-block; vertical-align: middle; margin: 12px 10px 12px 0;}
.pagination_custom nav{ display: inline-block; vertical-align: middle;}
.flat-blue .pagination .active > a, .flat-blue .pagination .active > a:focus, .flat-blue .pagination .active > a:hover, .flat-blue .pagination .active span, .flat-blue .pagination .active > span:focus, .flat-blue .pagination .active > span:hover{ background-color: #CB202D; border-color: #CB202D;}
/* .pagination-sm>li>a, .pagination-sm>li>span{ padding: 14px 15px;} */

/* Custom table */
.table_overflow{ overflow-x: auto; max-width: 100%;}
.table{ margin-bottom: 12px;}
.table a:hover{ text-decoration: underline;}
.table .btn:hover{ text-decoration: none;}
.table tbody tr:hover{ background: #fafafa;}
.table i.fa{ font-size: 17px;}
.flat-blue .table > thead > tr{ background: #e2e2e2;}
.flat-blue .table > thead > tr > th, .flat-blue .table > thead > tr > td{  border-width: 0;  text-transform: uppercase; font-weight: normal; padding: 15px 20px; vertical-align: middle;}
.flat-blue .table > thead.last > tr > th{ border:0; }
.flat-blue .table > tbody > tr > td, .flat-blue .table > tbody > tr > th, .flat-blue .table > tfoot > tr > td, .flat-blue .table > tfoot > tr > th{padding: 18px 20px ; vertical-align: middle;}
.seq_form_control{ width: 60px; height: 30px; padding: 0 0 0 10px; border-radius: 4px; -webkit-border-radius: 4px; border: 1px solid #dcd9d9;}
    /* Table Check box */
.flat-blue .table .checkbox3 label:before{ width: 19px; height: 19px; top: 3px; background: #fff;}
.flat-blue .table .checkbox3.checkbox-light input:checked+label:before{ background: #fff;}
.flat-blue .table .checkbox3 label:after{ top:3px; margin-left: 0; }
.checkbx_sec{ position: relative;}
.checkbx_sec .checkbox-inline{ position: static;}
input.edit_txt{ width: calc(100% - 50px);}

.table > tbody > tr.active-row{ background: #ffdbdb; }
/* Subtable */
/* .ltable_outer{background: #F0F0F0;} */
.table tbody tr.ltable_outer:hover{ background: #fff;}
.loop_table{}
.flat-blue .loop_table{background: #F0F0F0;}
.flat-blue .table.loop_table > tbody > tr:first-child > td, .flat-blue .table.loop_table > tbody > tr:first-child > th{border-top:0;}
.flat-blue .table.loop_table > tbody > tr > td, .flat-blue .table.loop_table > tbody > tr > th, .flat-blue .table.loop_table > tfoot > tr > td, .flat-blue .table.loop_table > tfoot > tr > th{padding: 10px 20px; border-color: #ccc;}
a.expand{  width: 18px; height: 18px; line-height: 17px; text-align: center; color: #252525; background: #fff; cursor: pointer; border: 1px solid #ccc; display: inline-block;margin-right: 5px;}
a.expand .fa{font-size: 13px;}
.expand.open_icon .fa:before{ content: "\f068";}
.group-span-filestyle .btn { margin-top: 0;}

/** vendor menu Tab**/
.vendor-menu-tab{ padding: 8px 15px; margin: 0 10px 10px 0; text-align: center; -webkit-transition: all .6s; transition: all .6s; background: #e5e5e5; position:relative; border: 1px solid #e5e5e5; }
.vendor-menu-tab.active{ background: #cb202d; color:#FFF; border: 1px solid #cb202d; }
.vendor-menu-tab:hover{ background: transparent; border: 1px solid #cb202d; color: #cb202d;}
.vendor-menu-tab.active:hover{ background: #cb202d; color:#FFF; }
.vendor-menu-tab.active:before{ position: absolute; width: 10px; height: 10px; background: #cb202d; content:""; -webkit-transform: rotate(45deg); transform: rotate(45deg); left:50%; bottom: -5px; margin-left: -5px;}
.vendor-menu-tab label{margin:0; cursor:pointer;}
.status{ cursor: pointer; }

/* Minimum height for page */
.min_height  { min-height: 250px; }

/* Inner page start */
.flat-blue .card{ padding: 5px 25px; box-shadow: 0 0 3px 1px #b8b8b8; -webkit-box-shadow: 0 0 3px 1px #b8b8b8;}

    /* Uploaded image list */
.more_link{ display: inline-block; width: 30px; height: 30px; background: #E74C3C; text-align: center; line-height: 30px; color: #fff; border-radius: 100%; -webkit-border-radius: 100%; margin: 2px 0; font-size: 18px; cursor: pointer;}
.gallery_images_flow{ overflow-y: auto; max-height: 275px; display: inline-block;}
.show_image_box .thumbnail, .image_outer .thumbnail{ display: inline-block; position: relative; margin: 3px;}
.show_image_box .thumbnail:before, .image_outer .thumbnail:before{ content: ""; position: absolute; right:0; top:0; left:0; bottom: 0; background: rgba(255, 255, 255, 0.6) url(../images/cross-out.png) no-repeat center;  opacity: 0; filter: alpha(opacity=0); transition: all 400ms; -webkit-transition: all 400ms; pointer-events: none;}
.show_image_box .thumbnail:hover, .image_outer .thumbnail:hover{ box-shadow: 0 0 3px 0 #b8b8b8; -webkit-box-shadow: 0 0 3px 0 #b8b8b8; border-color: #dcd9d9;  transition: all 400ms; -webkit-transition: all 400ms;}
.show_image_box .thumbnail:hover:before, .image_outer .thumbnail:hover:before{ opacity: 1; filter: alpha(opacity=100);}
.show_image_box .thumbnail img, .image_outer .thumbnail img{ width: 125px !important; height: 125px !important;}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover{ border-color: #252525;}

    /* Catalogue - Delivery page */
.bshadow_table{ border: 1px solid #cbc7c7; box-shadow: 0 0 5px 1px #d7d7d7; -webkit-box-shadow: 0 0 5px 1px #d7d7d7;}
.action_textlinks a{ display: inline-block; padding: 0 25px; border-left: 1px solid #8b8b8b;}
.action_textlinks a:first-child{ border-left: 0;}
.side_catlist{border: 1px solid #cbc7c7; box-shadow: 0 0 5px 1px #d7d7d7; -webkit-box-shadow: 0 0 5px 1px #d7d7d7; font-size: 14px; background: #f9f9f9;}
.side_catlist ul{margin: 0; padding: 0;}
.side_catlist li{ list-style: none; border-top: 4px solid #fffffe; color: #2a2828;}
.side_catlist li:first-child{ border-top:0;}
.side_catlist li:after{ content: ""; display: block; clear: both;}
.side_catlist li a{ padding: 15px 15px 15px 45px; color: inherit; display: block; position: relative;}
.side_catlist li:hover > a, .side_catlist li.active > a{ background: #333333; color: #fff;}
.scmenu_expand{ position: absolute; left: 14px; top: 17px; width: 21px; height: 21px; background: url(../images/plus_sico.png) no-repeat center; border: 2px solid #878686; border-radius: 100%; -webkit-border-radius: 100%;}
.side_catlist li.active .scmenu_expand {background-image: url(../images/plus_sico1.png); border-color: #fff;}
.side_catlist li span{ float: right;}
.side_catlist ul ul{ display: none;}
.removemousehover.side_catlist li:hover > a, .removemousehover.side_catlist li.active > a{ background: #f9f9f9; color: #000;}
.side_catlist.removemousehover li.active .scmenu_expand{ background:    url("../images/plus_sico.png") no-repeat center center; border-color: #000;}

.setting_article .panel-heading{ border-radius: 0; -webkit-border-radius: 0; padding: 0;}
.setting_article .panel-heading a{ display: block; padding: 10px 15px; font-weight: 700}
.setting_article .panel-heading a:hover,.setting_article .panel-heading a:focus{ text-decoration: none;}
.setting_article .panel-heading a[aria-expanded="true"] .fa-plus:before{    content: "\f068";}

/**/
.default-no {color: #565656; left: 5px; position: absolute; top: 8px; padding-right:5px; border-right: 1px solid #c4c4c4; }
.default-no + input[type=text] {padding-left: 36px;}

/*Dragable*/
.dragdealer { position: relative; height: 10px; background: #EEE; display: none; }
.dragdealer .handle { position: absolute; top: -6px; left: 0; cursor: pointer; }
.dragdealer .red-bar { width: 60px; background:#5274ff; color: #FFF;  text-align:center; }
.dragdealer .disabled { background: #d4d4d4;}
.dragdealer { position: relative; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); height: 10px; width: 100%; background: #e1e1e1; border-radius: 3px; margin: 20px 0 5px; }
.dragdealer .red-bar { height: 20px; font-size: 12px; line-height: 20px; border-radius: 10px; }

/*  custom alert box start here */
.alert_header {
    background: #34353a;    
    color: #fff;
    font-size: 17px;
    padding: 7px 14px;
    position: relative;
    text-align: left;
}
.alrt_overlay {
    background: #fff;
    bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.custom_alert {     
    bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;    
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 450px;
    z-index: 9999;  height: inherit;
}
.custom_alertin{ vertical-align: middle;}
.custom_alertin .alert_height{background: #fff ;box-shadow: 0 0 20px rgba(86, 84, 84, 0.65); -webkit-box-shadow: 0 0 20px rgba(86, 84, 84, 0.65); }
.alert_body {
    text-align: center; 
    padding: 20px;    
}
.alt_btns a{margin: 10px 5px 0; }
/* custom alert box css end here */
.answers { display:none; }
/* Custom tabs */
    /* Vertical tabs */
.tabs-left{ width: 100%;}
.tabs-left > .nav-tabs{ width: 250px;}
.step.tabs-left .nav-tabs > li{ width: 100%;}
.step.tabs-left .nav-tabs > li > a .icon{ font-size: 19px; width: 22px; text-align: center;}

.scroller.over_menu .mCustomScrollBox{ overflow: visible; }
.scroller.over_menu .mCSB_container{ overflow: visible; }

/* Popup */
.mfp-bg {
    background: #fff;
    background: rgba(255,255,255,0.7); z-index: 100000;
}
.mfp-wrap{ z-index: 100001;}
.mfp-close{ height: 38px; width: 38px; line-height: 38px; background: #34353a;}
button.mfp-close{ background: #34353a;}
.mfp-close-btn-in .mfp-close{ color: #fff;}
.mfp-close:before{ display: none;}
.mfp-content {
    background: #fff;  
    margin: 20px auto;
    max-width: 700px;
    position: relative;
    width: auto;  box-shadow: 0 0 20px rgba(86, 84, 84, 0.65); -webkit-box-shadow: 0 0 20px rgba(86, 84, 84, 0.65); 
}
.mfp_header {
    background: #34353a;    
    color: #fff;    
    font-size: 17px;
    padding: 7px 14px;
    position: relative;
    text-align: left;
}
.mfp_body{ padding: 20px;}
.more_tableview>tbody>tr:first-child>td{ border-top:0;}
/* Time picker */
.ui-timepicker .ui-timepicker-table td a{width: auto;}
.ui-timepicker .ui-timepicker-table td span { width: auto; opacity: 1; }
/* Date picker */
.datepicker-dropdown{ z-index: 99999 !important;}

/* Company add page*/
.checkbox3 input:checked+label.error+label.chk_box_label:after{ opacity: 1; }
.radio3 input:checked+label.error+label.chk_box_label:after{ opacity: 1; border: 3px solid #FFF;}
.checkbox3 input:checked+label.error+label:before{ border-color: #444;}
.radio3 input:checked+label.error+label:before{ background-color: #444; border-color: #444;}


/* Product add page */
.condiment_selectsec  .multicheckbx_sec li{ margin: 0 0 10px; padding: 0;}
.condiment_selectsec .checkbox3{ width: 220px;}
.condiment_selectsec .checkbox3 label{ white-space: normal;}
.condiment_selectsec input.seq_form_control{  vertical-align: top;}

.combo_heading{ font-size: 18px;}
.combo_remove, .add_combo{ cursor: pointer; }
.combo_remove:hover, .add_combo:hover{ color: #e43232;}

/* Voucher */
.voucher_label{ padding-top: 7px; margin-bottom: 0;}

    /* Outlet */
#map_canvas_one, #map_canvas_two{ height: 650px !important;}

.edit_txt_hide{display:none;}
.main_undo,.sub_undo{display:none;}
.input_box {
    position: relative;
}
.form-group .custom_checkbox + .remove_field, a.remove_field { right: -55px; top: -65px;}
.remove_field, a.remove_field { border: 0 none; border-radius: 50%; bottom: 0; color: #b4b4b4; height: 30px; margin: auto; padding: 0; position: absolute; right: -35px; text-align: center; top: 0; width: 30px; line-height: 28px; font-size:20px;}
.add_answer { bottom: 0; color: #565656; margin: 0 0 30px; padding: 0; position: relative; left: -8px; top: 0; line-height: 28px; border: 0 none; background: rgba(0, 0, 0, 0);}
.add_answer i { background: #cb202d none repeat scroll 0 0; border-radius: 50%; color: #ffffff; height: 30px; margin: 0 5px 0 0; padding: 0; position: relative; text-align: center; width: 30px; line-height: 30px;}
.add_answer:hover{ color:#cb202d; }
.remove_field:hover, a.remove_field:hover { color: #cb202d; }
.main_titl { margin: 0 0 15px; text-align: center; }
.form-horizontal .control-label { font-size: 14px; }
.form-horizontal .custom_checkbox label.control-label{line-height:12px;}
.btn-position{ margin: 15px 0 0 10px;  text-align: right; display: inline-block; }
.form-group.txt-left { margin: 0; }
.form-horizontal .txt-left .control-label{ text-align: left; padding: 10px 0; }
/**/
.search_add_text_box, .search_add_image_box, .search_add_radio_box, .search_add_checkbox_box, .search_add_textarea_box{ padding: 10px 0; display: inline-block; border-bottom: 1px solid #e4e4e4; }

/*File type*/
.filetype{ position: relative; max-width: 440px; width: 100%; display: block; float: left; margin-right: 10px; }
.flat-blue .filetype .btn.btn-default{  margin: 0px 0 0 -4px; padding: 8px 10px; }

/* Radio */
.custom_radio{ display: inline-block; position: relative; vertical-align: middle; }
.custom_radio input{ opacity: 0; filter: alpha(opacity=0); height: 100%; left:0; top:0; margin: 0; width: 100%; position: absolute; cursor: pointer;}
.custom_radio input[type=radio]:checked + label:before, .custom_radio input[type=radio]:checked + label + label:before{ -webkit-box-shadow: 0 0 0 2px #fff inset; box-shadow: 0 0 0 2px #fff inset; border-color: #4e70ff ; background: #4e70ff; }
.custom_radio label:before{ content: ""; position: absolute; width: 14px; height: 14px; border: 2px solid #CBCBCB; border-radius: 1px; -webkit-border-radius: 1px; left:0; top: 3px; pointer-events: none; border-radius: 100%; -webkit-border-radius: 100%; }
.custom_radio label{ position: relative; padding: 0 0 0 22px; pointer-events: none;  font-size: 15px; color: #000000; font-weight: normal; margin-bottom: 0; display: block;}
.card-title1 .title { display: inline-block; vertical-align: middle; }
.card-title1 .custom_radio { margin-right: 8px; margin-top: 20px; }
.form-group:after { clear: both; content: ""; display: block; }
.card-title1 h4 { font-size: 22px; margin: 0; }
.input_field{margin: 2px 0 6px;}
/** Question Info **/
.progres_section{width:100%; padding:2px 20px 30px;text-align:center; border-bottom: 1px solid #c4c4c4; color: #565656; margin: 20px 0 0;}
.prog-bar{width: 80%;height:8px;border-radius:3px;border:1px solid #dedddd; margin: 6px 0 -3px 10%; position: relative; overflow: hidden;}
.prgress-count{ float: right; }
.prog-bar .complete-bar{ width:2%; background:#cb202d; height:100%; background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); background-size: 20px 20px;}
.prog-bar .complete-bar:before{ content: ""; position:absolute; left:0; width:100%; height: 100%; position: absolute; -webkit-transform: rotate(-15deg); transform: rotate(-15deg); }
.formField{width:100%;padding: 20px 0; display: table;}
.quetBlock h4{ padding: 20px 0 10px; margin: 5px 0 0;}
.quetBlock .custom_radio label, .quetBlock .custom_checkbox label{ color: #363636;}
.quetBlock input[type="text"], .quetBlock input[type="email"], .quetBlock input[type="file"], .quetBlock select, .quetBlock textarea{ width: 100%; max-width: 440px; border: 1px solid #e5e5e5; background:#FFF; margin-bottom:10px; padding: 5px 8px; border-radius:5px; }
.quetBlock .img-container input[type="text"], .quetBlock .img-container input[type="email"], .quetBlock .img-container input[type="file"], .quetBlock .img-container select, .quetBlock .img-container textarea{ max-width: 380px; float: left; padding: 5px 8px; margin-right: 8px; min-height: 38px; border-radius:5px; }

.sub-qstn{display:block; clear:left; padding:2px 0 5px;}
.sub-qstn{display:block; clear:left; padding:2px 0 5px;}
.prev-next-section{border-top: 1px solid #c4c4c4; padding: 20px 0; width:100%; clear: left; }
.prev-next-section .btn{ padding: 8px 12px; min-width: 100px; background:#cb202d; color:#FFF; outline:none; }
.prev-next-section .btn.prev{ float: left; }
.prev-next-section .btn:hover{ background:#2f3549; color:#FFF; }
.prev-next-section .next{float: right;}
.prev-next-section .next i{padding-left:5px;}
.prev-next-section .prev i{padding-right:5px;}
.adRemarks{ margin: 10px 0 0; position: relative;}
.alert-Field{ padding:10px 0; background:#f84e37; color:#FFF; text-align:center; margin: 0 -20px 15px;}

/**/
.space01{ padding: 10px 0px 20px;}
.in-blk{display: inline-block; }
.prev-ans{ background: #f4f4f4; max-width: 440px; padding: 10px 10px 5px; margin: 0 5px 0 0; }
.prev-ans > h4{ font-size: 13px; font-weight: 600; margin: 0 0 4px; padding: 0; }
.prev-ans > p{ font-size: 12px;}
.ansr_verify{ background: #65bf6b; border-radius: 3px; cursor: pointer; color: #fff; display: inline-block; font-size: 12px; padding: 2px 6px; vertical-align: top; }
.approved_ans{ padding: 2px 6px 3px 20px; position: relative; }
.approved_ans:before{ position: absolute; left:3px; top: 4px; content: "\f00c"; font-family: FontAwesome; font-size: 11px; color: #FFF; }

.prev-next-section .loading{ float: right; }
.no-records { border-top: 1px solid #e5e5e5; font-size: 16px; padding: 20px 0 0; text-align: center; }

.ref_error_msg{ margin: 0 0 -40px; padding:5px 10px ; font-size: 13px; color: #d85244; }
/*Add image*/
.img-container-preview, .img-container{margin: 5px 0 15px; width: 100%; clear: left; }
.add_image{ background: #cb202d none repeat scroll 0 0; border: medium none; color: #fff; font-size: 18px; height: 36px; text-align: center; width: 36px; border-radius:50%; }
.added-image{ width: 100px; height: 100px; display: block; overflow:hidden; position: relative; border: 1px solid #e5e5e5; }
.added-image img{ min-width: 100%; min-height: 100%; display: block; }
.added-image span.remove_image{ color: #fff; float: left; font-size: 50px; height: 100%; left: -100px; padding: 15px 0; position:absolute; text-align: center;top: 0; width: 100%; opacity: 0; -webkit-filter: (opacity=0); filter: (opacity=0); -webkit-transition: all .6s; transition: all .6s; background: rgba(255,255,255,0.9) url(../images/cross-out.png) scroll center no-repeat; }
.added-image:hover span.remove_image{ left:0; opacity: 0.9;}
.flat-blue a.remove_add_image{ display: inline-block; padding: 8px 0;width: 36px;height:36px;border-radius:50%; background: #cb202d; color: #FFF; text-align: center; }

.bootstrap-filestyle input[type=text]{ margin: 0; }
/*tab*/
.inTab-nav{ display: block; padding: 0; margin: 10px 0 0; list-style: none; clear: left; }
.inTab-nav li{ display: inline-block; }
.inTab-nav li.active a{ background: #e4e4e4; }

.notification{ border-left: 1px solid #d8d8d8;  border-right:1px solid #d8d8d8; float:right; height:22px; margin:15px -5px 0 15px; text-align:center; width: 42px; }
.notify { background: rgba(0, 0, 0, 0) url("../images/notifi-icon.png") repeat scroll 0 0; display: inline-block; height: 24px; position: relative; width: 24px; }
.notify span {  background: #cb202d;  border-radius: 50%;  color: #fff;  display: block;  font-size: 9px; font-weight: 600; height: 16px; line-height: 15px; position: absolute; right: -6px; text-align: center; top: -2px;  width: 16px;}

.read{ color: #B5B5B5 !important; }
.unread{ color: #26C33E !important; }

/* Media query It should be place at bottom */
@media (max-width: 991px){

}
@media (max-width: 768px){

	.featured-drop{ margin: 6px 0 0; }
}
@media (max-width: 767px){
    .select2-container { width: 100% !important;}
    .outletunit > [class*="col-"]{ margin-bottom: 8px;}
    
    .flat-blue .card{ padding: 15px;}
    .card .card-body{ padding-bottom: 0;}
    /* Popup */
    .custom_alert{ width: 95%;}
    /* Page title */
    .page-title .title{ font-size: 35px; line-height: 45px;}
    /* Form */
    .form-inline .chosen-container{ width: 100% !important;}
	/* Error */
    label.error{ top: -40px; right: 0;}
    .label.error:before{ left: 80px; top: 32px;}

}
@media (max-width: 479px){
.log_alert{ left: auto; margin-left: 0; }
}


.tab-vendor-edit-cust .custom_radio{margin-right: 15px}
.tab-vendor-edit-cust{margin-bottom: 15px;}
.disabled.day{ opacity: 0.5; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.rating-review {
    padding: 0 0 10px 0;
}

.rating-result {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.rating-result:before {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    color: #ccc;
    font-family: FontAwesome;
    font-size: 18px;
    height: 18px;
    letter-spacing: 3px;
    line-height: 18px;
    content: '\f005''\f005''\f005''\f005''\f005';
    display: block;
    font-style: normal;
    font-weight: normal;
    speak: none;
}

.rating-result > span {
    display: block;
    overflow: hidden;
}

.rating-result > span:before {
    position: relative;
    z-index: 2;
    -webkit-font-smoothing: antialiased;
    color: #ef1919;
    font-family: FontAwesome;
    font-size: 18px;
    height: 18px;
    letter-spacing: 3px;
    line-height: 18px;
    content: '\f005''\f005''\f005''\f005''\f005';
    display: block;
    font-style: normal;
    font-weight: normal;
    speak: none;
}

.rating-result > span span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.unlink-img { position: absolute;bottom:10px;left:10px; }
.unlink-img i { transform:scale(2); }
.rel  { position:relative;}
.resource-container label { float:left; margin:5px 0 0 5px; }
.resource-container .input_box { float:left;  }
.resource-container .input_box input{margin:4px 0 0 !important;}
.mar-left-25 { margin-left:25%; }
.input_box.level-2 { margin-left:20px; }
.resource-container { display:none; }
.input_box sub{ display:block; }
.fl { float:left; }
.fr { float:right; }
