.mapping_left_head{background:#b60213;padding:10px
15px;text-align:center}.main_content .mapping_left_head
p{color:#fff;margin:0;font-size:20px}.mapping_left{border:1px
solid #e6e6e6;width:100%;float:left;width:30%}.mapping_system_item{padding:10px
63px 10px 10px;border-bottom:1px solid #d9d9d9;cursor:pointer;position:relative}.mapping_system_item:hover{background:#e3e3e3;transition:0.5s;-webkit-transition:0.5s}.main_content .mapping_system_item
p{margin-bottom:5px}.mapping_right{float:right;width:70%;padding-left:30px}.mapstyles{position:relative;overflow:hidden;width:100%;height:500px}.form_wrapers:after{clear:both;display:block;content:''}.form_wrapers{margin-bottom:30px;border:1px
solid #d5d5d5;background:#eee;padding:25px}.search_middle{float:left;width:80%;margin-right:0;padding-right:12px}.search_middle
input{height:38px;padding:5px
10px !important}.info_content
h3{font-size:15px;margin-bottom:10px !important}.search_middle input[type="text"], .search_middle
select{width:49% !important;margin:0
!important}.search_middle
select{width:49%;padding:7px
10px;float:right}.search_button{width:20%;float:left}.main_content .info_content
p{font-size:14px;margin:0}.main_content .info_content
b{color:#000}.info_content
img{margin:0
6px 5px 0}.description{margin-bottom:6px}.mapping_system_item:after{font-family:FontAwesome;content:"\f041";vertical-align:middle;right:25px;position:absolute;top:20px;bottom:0;margin:0
auto;font-size:24px;margin-right:15px}.mCustomScrollbar{max-height:600px}body
.no_item{padding:10px;text-align:center;color:#f00;margin-bottom:0 !important}@media (max-width: 1000px){.mapping_left,.mapping_right{float:none;width:100%;padding:0}.mapping_left{margin-bottom:30px}.search_middle{width:72%}}@media (max-width: 780px){.search_middle,.search_button{float:none;width:100%;padding:0;clear:both}.search_button{padding-top:15px;text-align:center}}@media (max-width: 479px){.search_middle input[type="text"], .search_middle
select{width:100% !important;margin:4px
0 !important}}
